/* Root Variables */
:root {
    --dental-color-font: #0fe49a !important;
    --health-color-font: #00cdff !important;
    --imagotype-font: 'Josefin Sans';
    --base-font: 'Raleway';
}

/* Imagotype Styles */
.dental-isotype {
    height: 2.5em;
    margin-right: 0.2em;
}

.dental-text-color {
    color: var(--dental-color-font);
    font-family: var(--imagotype-font), sans-serif;
    font-weight: 600;
}

.health-text-color {
    color: var(--health-color-font);
    font-family: var(--imagotype-font), sans-serif;
    font-weight: 600;
}

/* Schedule Bar */
.schedule {
    font-family: var(--base-font), sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.schedule-title-color-font {
    color: var(--health-color-font);
}

/* Navbar */
.nav-pills .nav-link.active {
    color: white !important;
    --bs-nav-pills-link-active-bg: var(--health-color-font);
}

.nav-link {
    color: #60646d;
}

.nav-link:hover {
    color: var(--health-color-font);
}

/* Icons */
.footer-icons {
    width: 30px;
    height: 24px;
}

/* Main Styles */
.subtitles {
    color: #3a3c41;
}