/* Root Variables */
:root {
    --dental-color-font: #0fe49a;
    --health-color-font: #00cdff;
    --imagotype-font: 'Josefin Sans';
    --base-font: 'Raleway';
    --nav-link-color: #60646d;
    --subtitle-color: #3a3c41;
    --base-font-size: 16px;
}

/* Global Styles */
* {
    font-family: var(--base-font), sans-serif;
    font-size: var(--base-font);
}

/* Imagotype Styles */
.dental-isotype {
    height: 2.5rem;
    margin-right: 0.2rem;
}

.dental-text-color,
.health-text-color {
    font-family: var(--imagotype-font), sans-serif;
    font-weight: 600;
}

.dental-text-color {
    color: var(--dental-color-font);
}

.health-text-color {
    color: var(--health-color-font);
}

/* Schedule Bar */
.schedule {
    font-family: var(--base-font), sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
}

.schedule-title-color-font {
    color: var(--health-color-font);
}

/* Navbar */
.nav-pills .nav-link.active {
    color: white;
    --bs-nav-pills-link-active-bg: var(--health-color-font);
}

.nav-link {
    color: var(--nav-link-color);
}

.nav-link:hover {
    color: var(--health-color-font);
}

/* Icons */
.footer-icons {
    width: 1.875rem;
    height: 1.5rem;
}

/* Main Styles */
.subtitles {
    color: var(--subtitle-color);
}

/* WhatsApp Button */
#whatsapp {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    z-index: 9999;
}

@media (min-width: 768px) and (max-width: 863px) {
    #whatsapp {
        bottom: 8rem;
    }
}
