{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div id="carouselCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'pages/img/carousel/close-up-dentist.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fw-bold">Your smile is our motivation</h5>
                    <p class="fw-medium">More than 20 years and thousands of smiles around Peru support us as the first
                        and best Dental Clinic in the country, see for yourself!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'pages/img/carousel/dentist-standing.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fw-bold">The best professionals</h5>
                    <p class="fw-medium">We have the best dentists in the city.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'pages/img/carousel/patient-dentist.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fw-bold">The best dental technologies</h5>
                    <p class="fw-medium">We have the best instruments and technologies for good dental work.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container pt-5 pb-4">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-12 mb-4">
                <div class="d-flex flex-column align-items-center text-center justify-content-start">
                    <h2 class="subtitles fw-normal mb-4">
                        DentalHealth <span class="fw-bold">Your Trusted Dental Clinic</span>
                    </h2>
                    <p class="text-justify mb-4">More than 20 years and thousands of smiles around Peru support us as
                        the first and best Dental Clinic in the country, see for yourself!</p>
                    <div class="w-100 w-md-75 w-lg-50 mx-auto">
                        <button type="button" class="btn btn-danger w-100 py-3">
                            <a class="text-white fw-bold fs-5 text-decoration-none" href="#">
                                Book your Appointment Online!
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12 mt-4 mt-lg-0">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                        <div class="d-flex align-items-start">
                            <i class="fa fa-medkit fa-3x me-3 schedule-title-color-font"></i>
                            <div>
                                <h3>
                                    <a class="text-decoration-none subtitles fw-bold mb-4"
                                       href="https://www.multident.pe/site/servicios/especialidades/">
                                        Learn about our Specialties
                                    </a>
                                </h3>
                                <p>Each of our dentists excels in their specialty, because for us, it is important to
                                    provide you with human warmth along with the newest technology.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                        <div class="d-flex align-items-start">
                            <i class="fa fa-ambulance fa-3x me-3 schedule-title-color-font"></i>
                            <div>
                                <h3>
                                    <a class="text-decoration-none subtitles fw-bold mb-4"
                                       href="https://www.multident.pe/site/servicios/emergencias/">
                                        24-Hour Attention
                                    </a>
                                </h3>
                                <p>Call us at 948582559 or (01) 277-3027 and visit us at Av. Angamos Este 156 -
                                    Miraflores at any time, every day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                        <div class="d-flex align-items-start">
                            <i class="fa fa-building-o fa-3x me-3 schedule-title-color-font"></i>
                            <div>
                                <h3>
                                    <a class="text-decoration-none subtitles fw-bold mb-4"
                                       href="https://www.multident.pe/site/sedes/">47 Locations and Counting</a>
                                </h3>
                                <p>Throughout Peru, we grow year after year, seeking to be closer to you every day.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                        <div class="d-flex align-items-start">
                            <i class="fa fa-credit-card fa-3x me-3 schedule-title-color-font"></i>
                            <div>
                                <h3>
                                    <a class="text-decoration-none subtitles fw-bold mb-4"
                                       href="https://www.multident.pe/site/servicios/multident-card/">DentalHealth
                                        Card</a>
                                </h3>
                                <p>Start enjoying multiple benefits for you and six family members, sign up at all our
                                    locations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
