.banner {
    background: no-repeat center center;
    background-size: cover;
}

.about-us-banner {
    background-image: url('../img/banners/about-us.jpg');
}

.services-banner {
    background-image: url('../img/banners/services.jpg');
}

.specialties-banner {
    background-image: url('../img/banners/specialties.jpg');
}

.dentists-banner {
    background-image: url('../img/banners/dentists.jpg');
}

.clinic-banner {
    background-image: url('../img/banners/clinic-reception.jpg');
}
