.banner {
    background: url('../img/woman-patient-dentist.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    padding: 50px;
    color: white;
    text-align: center;
}
